
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&subset=latin-ext');
/* @import url('/css/media.css'); */
body, html {
    font-family: 'Nunito', sans-serif;
}
main{
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}
.navbar-brand{
    
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
/* .nav.navbar-nav{
    width: 100%;
} */
.navbar-toggle{
    float: left;
}
.navbar-nav > li > a{
   
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    color: #007fff;
    /* padding: 0;
    margin-right: 70px; */
    line-height: 52px;
}
/* .navbar-nav > li:last-child >a{
    margin-right: 0;
} */
.navbar-toggle .icon-bar{
    background-color: #007fff;
    width: 20px;
}

main > .container{
    max-width: 1100px;
}
main {
    padding-top: 100px;
}

.vertical-text{
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: 0 0;
    position: absolute;
    left: -60px;
    text-transform: uppercase;
    font-size: 12px;
    color: #979797;
    font-weight: 800;
    letter-spacing: 3px;
}
/*  */

section > header > h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin-top: 120px;
    margin-bottom: 50px;
}
.social > a{
padding: 0 15px;

}
p.text-center.social {
    margin-bottom: 120px;
}

/*  */
/* .block1,.block2,.block3,.block4{
   margin: 30px 15px 30px 15px;
   padding: 60px;
} */
.works .col-md-6{
    padding-bottom: 60px;
}
.works .col-md-6:nth-child(2n){
    padding-right: 30px;
}
.works .col-md-6:nth-child(2n+1){
    padding-left: 30px;
}
.works .divider-block{
   /* margin: 0 15px 60px 15px; */
   padding: 60px;
   background-size: cover;
   background-position-x: center;
   
}
.works .divider-block.block1{
    padding-top: 330px;
    background-image: url(../img/Photo.png);
    background-repeat: no-repeat;
    
}
.works .divider-block.block2{
    padding-top: 605px;
    background-image: url(../img/Photo2.png);
    background-repeat: no-repeat;
    
}
.works .divider-block.block3{
    padding-top: 497px;
    background-image: url(../img/Photo3.png);
    background-repeat: no-repeat;
    
    margin-top: -230px;
}
.works .divider-block.block4{
    padding-top: 260px;
    background-image: url(../img/Photo4.png);
    background-repeat: no-repeat;
    
}
.works .divider-block > p{
    font-size: 28px;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 0;;
}
.works .divider-block > button{
    font-size: 12px;
    font-weight: 800;
    color: #000000;
    padding: 3px 15px;
    border: none;
    background-color: #ffe300;
    border-radius: 15px;
    margin-bottom: 20px;
    
}
.works .divider-block > button:hover{
    cursor: pointer;
}
/* .equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
    flex-wrap: wrap;
} */

/*  */
/* .row.about{
    margin-bottom: 60px;
} */
.about{
    margin-top: 70px;
}
.about h3{
    font-weight: 600;
    font-size: 28px;
    color: #000000;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 0;
} 
.about div div{
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 60px;
}
.about p > span{
    color: #007FFF;
}
.row{
    position: relative;
}
/*  */
.row.some-logo{
    margin-bottom: 120px;
}
/*  */
.row.links{
    /* min-height: 330px; */
    margin-bottom: 190px;
}
.row.links p > a{
    color: #007fff;
    text-decoration: none;
}
.row.links div p{
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #007fff;
}
.row.links p > span{
    color: #979797;
    float: right;
}

/*  */
.row.contacts{
    margin-bottom: 120px;
}
.row.contacts h3{
    padding-left: 15px;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 60px;
}
.row.contacts input, textarea{
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    border: none;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 30px;
    padding: 10px 0;
}
.row.contacts input::placeholder,textarea::placeholder{
    color: #cfcfcf;
}
.row.contacts > div > p:first-child{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 30px;
}
textarea{
    min-height: 120px;
    margin-bottom: 0;
}
.row.contacts{
    margin-bottom: 60px;
}
.row.contacts button{
    background: none;
    border: none;
}
.row.contacts label{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #000000;
}
.contacts .social > a:first-child{
    padding-left: 0;
}

/*  */

footer{
    margin-bottom: 120px;
}
footer p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
}
.copyright > p{
    color: #000000;
}
.other > p{
    text-align: right;
    color: #979797;
}

.contacts .col-xs-12{
    text-align: right;
}

.about div div a{
    display: none;
}