html body {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}

.container {
    padding-right: 4%;
    padding-left: 4%;
    margin-bottom: 8%;
}

h2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: #000;
    line-height: 3rem;
    text-transform: capitalize;
    padding: 3% 8% 6% 0;
}

a {
    color: #007fff;
}

a:hover {
    text-decoration: none;
    color: #000fff;
    background: none;
}

/*header*/
header {
    margin: 8% 0 10%;
}

header li a {
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 0.3rem;
}

/*section motivation*/
.motivation .container .row {
    width: 50%;
    margin: 0 auto;
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 6rem;
    color: #000;
    text-align: center;
}

.social div {
    display: inline-block;
    padding: 3%;
}

.social div:hover {
    transform: translateY(-5px);
}

/*section works*/
.works .container {
    padding-right: 1%;
    padding-left: 1%;
}

.works .container div {
    display: inline-block;
    vertical-align: top;
    position: relative;
    max-width: 100%;
}

.block-top-left {
    background: url("../img/Photo.png") no-repeat center center;
    background-size: contain;
    width: 520px;
    height: 505px;
    margin-bottom: 10%;
}

.block-bottom-left {
    background: url("../img/Photo3.png") no-repeat center center;
    width: 520px;
    height: 667px;
    background-size: contain;
    max-width: 100%;
}

.block-top-right {
    background: url("../img/Photo2.png") no-repeat center center;
    width: 520px;
    height: 737px;
    background-size: contain;
    margin-bottom: 10%;
}

.block-bottom-right {
    background: url("../img/Photo4.png") no-repeat center center;
    width: 520px;
    height: 435px;
    background-size: contain;
}

.works p, .works div.yellow {
    vertical-align: bottom;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.6rem;
    position: absolute;
    top: 90%;
    left: 45%;
    height: auto;
    width: 60%;
    margin: -15% 0 0 -30%;
    text-align: left;
    color: #ffffff;
}

.block-top-left div.yellow, .block-bottom-right div.yellow {
    width: 16%;
    height: 5%;
    background: #ffe300;
    top: 80%;
    border-radius: 5rem;
    vertical-align: center;
}

.block-top-left p.featured, .block-bottom-right p.featured {
    font-size: 1.2rem;
    font-weight: 800;
    color: #000;
    text-align: center;
    line-height: 0.7rem;
    padding-left: 3px;
}

.works .container::before {
    content: "works";
    position: absolute;
    transform: rotate(-90deg);
    font-size: 1.6rem;
    font-weight: 800;
    color: #979797;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    padding-bottom: 10%;
    margin-top: -3%;
}

/*section about*/
.about p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    line-height: 30px;
}

.about div {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    line-height: 30px;
}

.about::before {
    content: "about";
    position: absolute;
    transform: rotate(-90deg);
    font-size: 1.6rem;
    font-weight: 800;
    color: #979797;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-top: 5%;
}

.group {
    margin-top: 6%;
    margin-bottom: 5%;
}


/*section links*/
.links .row div {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    line-height: 3rem;
    padding-bottom: 5%;
}

.links .row div:last-child {
    padding-bottom: 0;
}

.links p {
    color: #979797;
    display: inline-block;
    margin-left: 2%;
}

.links::before {
    content: "links";
    position: absolute;
    transform: rotate(-90deg);
    font-size: 1.6rem;
    font-weight: 800;
    color: #979797;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin-top: 2%;
}

/*section contacts*/
.contacts .social div {
    padding-left: 0;
}

.contacts div input, .contacts div textarea {
    border: none;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    line-height: 30px;
    color: #cfcfcf;
}

.contacts div label {
    font-size: 12px;
    font-weight: 800;
    color: #000;
}

.contacts button {
    border: none;
    background: none;
}

/*footer*/
footer p {
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 600;
    color: #000;
}

footer .col-md-8 {
    padding-left: 0.5%;
}

footer .col-md-2 p {
    color: #979797;
    padding-left: 40%;
}

/*responsive*/
@media screen and (max-width: 992px) {
    html {
        font-size: 6px;
    }

    h2 {
        font-weight: bold;
    }

    /*header mobile*/
    header .full {
        display: none;
    }

    .nav-screen {
        margin: 0 auto;
        width: 100%;
        position: relative;
        text-align: center;
        height: 50px;
    }

    #check-menu {
        display: none;
    }

    div.nav-screen label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .burger-line {
        position: absolute;
        top: 18px;
        width: 30px;
        height: 4px;
        border-radius: 50px;
        background-color: #007fff;
        transition: .5s all;
    }

    .second-line, .third-line {
        top: 18px;
        display: none;
    }

    .fourth-line {
        top: 28px;
    }

    .screen-menu {
        display: block;
        position: absolute;
        width: 16%;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: .5s all;
    }

    .screen-menu a {
        text-align: center;
        display: block;
        width: 100%;
        padding: 0.8rem;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 800;
        letter-spacing: 0.3rem;
    }


    #check-menu:checked ~ .screen-menu {
        max-height: 500px;
        font-size: 16px;
    }

    #check-menu:checked ~ .first-line {
        display: none;
    }

    #check-menu:checked ~ .second-line {
        display: block;
        transform: rotate(45deg);
    }

    #check-menu:checked ~ .third-line {
        display: block;
        transform: rotate(-45deg);
    }

    #check-menu:checked ~ .fourth-line {
        display: none;
    }

    /*section works mobile*/
    .works p {
        top: 80%;
    }

    .works div.yellow {
        top: 72%;
    }

    .block-top-left p.featured, .block-bottom-right p.featured {
        font-size: 1.6rem;
        padding-left: 0;
        top: 80%;
    }

    .works .container::before {
        content: "works";
        transform: none;
        left: 46%;
        bottom: 58%;
    }

    /*section about mobile*/
    .about::before {
        content: "about";
        transform: none;
        left: 44%;
        margin-top: -4%;
    }

    .group img:not(#dropbox) {
        width: 90%;
    }

    #dropbox {
        width: 15%;
    }

    /*section links mobile*/
    .links::before {
        content: "links";
        transform: none;
        left: 40%;
        margin-top: -8%;
    }

    /*section contacts mobile*/
    .contacts .container div.social {
        margin-bottom: 10%;
    }

    .contacts button {
        text-align: right;
        margin-left: 80%;
    }

    /*footer mobile*/
    footer .col-md-8 {
        padding-left: 4%;
    }

    footer .col-md-2 p {
        padding-left: 0.5%;
    }

}

@media (max-width: 767px) {

    /*section works*/
    .works .container div.block-top-right, .block-top-left {
        margin-bottom: -30%;
    }

    .works .container div.block-bottom-left {
        margin-bottom: -40%;
    }

    .works .container::before {
        content: "works";
        transform: none;
        left: 46%;
        bottom: 45%;
    }
}

@media (max-width: 320px) {

    /*section works*/
    .works .container div.block-top-right, .block-top-left {
        margin-bottom: -80%;
    }

    .works .container div.block-bottom-left {
        margin-bottom: -98%;
    }

    .works p {
        top: 70%;
    }

    .works div.yellow {
        top: 65%;
    }

    .block-top-left div.yellow, .block-bottom-right div.yellow {
        height: 3%;
    }

    .block-top-left p.featured, .block-bottom-right p.featured {
        font-size: 1.2rem;
        top: 85%;
    }

    .works .container::before {
        content: "works";
        transform: none;
        left: 46%;
        bottom: 30%;
    }
}

@media (min-width: 768px) {
    .about a:not(.simple-ref) {
        display: none;
    }
}

@media (min-width: 992px) {

    /*header*/
    header div.col-md-4, header div.full {
        padding-right: 0;
        padding-left: 0;
    }

    header .col-md-4:not(.navbar-right):not(.text-center) {
        padding-left: 3%;
    }

    header .navbar-left ul li {
        margin-right: 7rem;
    }

    header .navbar-right ul li {
        margin-left: 7rem;
    }

    .nav-screen {
        display: none;
    }

    header div.navbar-right {
        margin-right: 0;
    }

    /*section about*/
    .about .col-md-6:not(.about-right) {
        padding-left: 0.5%;
        padding-right: 4%;
    }

    .about-right {
        padding-left: 3%;
        padding-right: 4%;
    }


    .group .col-md-3 {
        padding-left: 0.5%;
    }

    /*section links*/
    .links .col-md-6:not(.links-right) {
        padding-left: 0.5%;
    }

    .links-right {
        padding-left: 3.2%;
    }

    .links p {
        display: inline-block;
        position: absolute;
        left: 90%;
        margin-left: 0;
    }

    /*section contacts*/
    .contacts .col-md-3, .contacts .col-xs-10 {
        padding-left: 0.5%;
    }

    .contacts p {
        font-size: 16px;
        font-weight: 600;
        line-height: 3rem;
        color: #000;
        padding-right: 2%;
    }
}